.edit-post {
  width: 100vw;
  height: 100vh;

  .edit-post-cont {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 16%;
    max-width: 40%;

    .edit-title {

    }

    .edit-img {

    }

    .edit-description {

    }
  }

  .edit-submit {

  }
}