.user-profile-cont {

  .show-username {
    
  }
}

// .users-posts-cont {


  .user-posts-cont {
    display: grid;
    margin: 6%;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 85%;
    height: 100%;

    .post-item-cont {
      display: flex;
      flex-direction: column;
      /* object-fit: cover; */
      height: 100%;
      /* width: auto; */
      text-decoration: none;
      
      .show-img {
        height: 100%;
        object-fit: cover;
      }

      .show-title {
        color: white;
      }
    }
  }
// }