.user-profile-cont {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: -12%;

  .user-profile-info-cont {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;

    #show-profile-img-cont {
      height: 110px;
      width: 110px;
      background: #34CFA8;
      margin-right: 15px;
      border-radius: 80px;
    }
    
    .show-username {
      margin-top: 6%;
      color: white;
      font-size: 38px;
      font-weight: 600;
      font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
  }
}

.user-show-tabs-cont {
  display: flex;
  width: 100%;
  background: #061234;
  margin-top: 3%;
  height: 8%;

  .show-actions-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 20%;
    margin-left: 4%;
    
    .user-action-tabs {
      text-decoration: none;
      cursor: pointer;
      color: #ffffffc1;
    }

    #hidden {
      cursor: not-allowed;
    }
    // .user-actions-tabs:active {
    //   color: green;
    // }

    // #user-all-tab {
    //   cursor: pointer;
    //   color: white;
    // }

    // #user-public-tab {
    //   cursor: pointer;
    //   color: white;
    // }
    
    // #user-hidden-tab {
    //   cursor: not-allowed;
    //   color: white;
    // }
  }
}

.posts-bckg-cont {
  background: #06123ab0;
  margin-top: -2%;

  .user-posts-cont {
    display: grid;
    margin: 6%;
    margin-top: 2%;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 85%;
    height: 100%;
    
    .post-item-cont {
      display: flex;
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      
      .show-img {
        height: 100%;
        object-fit: cover;
      }
      
      .show-title {
        background-color: #474951;
        color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 48px;
        text-indent: 9px;
        padding-top: 14px;
        margin-top: -10px;
      }
    }
  }
}